.footer {
    
    background: rgb(255, 123, 255);
    height: 80px;
    width: 118rem;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-self: center;
    

    .contact {
       
        display: flex;
        justify-content: space-around;
        align-self: center;

    }

    .subscribe {
        
        display: flex;
        justify-content: space-around;
        align-self: center;
    }

    .social {
       
        display: flex;
        justify-content: space-around;
        align-self: center;

    }




}