.footer {
    
    background: violet;
    height: 80px;
    width: 118rem;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    

    .contact {
       
        

    }

    .subscribe {
        
        
    }

    .social {
       
        

    }




}