.footer {
    
    background: violet;
    height: 80px;
    width: 118rem;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);


    .contact {
       
        grid-column: 1;
        

    }

    .subscribe {
        
        grid-column: 2;
    }

    .social {
       
        grid-column: 3;

    }




}